{% extends 'shared/_layout.html' %}

{% block title %}
    Article Detail
{% endblock %}

{% block content %}
    <section id="single-content">

        <div class="container">
            <div class="single-content">
                <main id="main-content">
                    <div class="main-title">
                        <h3>سازه های سنتی</h3>
                        <div class="main-date">
                            <h5><i class="fas fa-comment-alt"></i> 2 نظر</h5>
                            <h5><i class="fas fa-calendar-alt"></i>18 شهریور 99</h5>
                        </div>
                    </div>

                    <div class="main-description">
                        <img src="/static/images/sonat.jpg" alt="">
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>

                        <ul>
                            <h4>برچسب ها :</h4>
                            <li><a href="">سازه سنتی</a></li>,
                            <li><a href="">سازه نوساز</a></li>
                        </ul>


                        <div class="comment">
                            <div class="comment-item">
                                <div class="comment-item-desc">
                                    <h3>رضا جعفری</h3>
                                    <p>ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                </div>
                                <img src="/static/images/comment/1.jpg" alt="">
                            </div>
                            <div class="comment-replay">
                                <div class="comment-item-replay">
                                    <h3>فرزاد رضایی</h3>
                                    <p>ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                                </div>
                                <img src="/static/images/comment/2.jpg" alt="">
                            </div>
                        </div>


                        <form action="">
                            <input type="text" placeholder="نام">
                            <input type="email" placeholder="ایمیل">
                            <input type="text" placeholder="موضوع">
                            <textarea placeholder="چیزی بنویسید"></textarea>
                            <input type="submit" value="ارسال">
                        </form>

                    </div>

                </main>
                <aside id="sidebar">
                    <div class="sidebar-item">
                        <h3>مطالب پیشنهادی</h3>
                        <ul>
                            <li><a href="#">سازه های مدرن</a><span><i class="fas fa-eye"></i>40 بازدید</span></li>
                            <li><a href="#">پل های کابلی</a><span><i class="fas fa-eye"></i>40 بازدید</span></li>
                            <li><a href="#">بتن ریزی</a><span><i class="fas fa-eye"></i>40 بازدید</span></li>
                            <li><a href="#">نوسازی ساختمان</a><span><i class="fas fa-eye"></i>40 بازدید</span></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>

    </section>
{% endblock %}