<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <form method="get" action="." style="margin: 10px;">
        <label for="cow_id">ID:</label>
        <input type="number" required name="cow_id" id="cow_id" placeholder="Enter cow id" value="{{ cow.code }}"/>
        <input type="submit" value="Show Chart" >
    </form>
    {% if message %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message }}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-3" style="height: 600px;">
            <h3>Cow information</h3>
            <p>Id: {{ cow.code }}</p>
            <p>Title: {{ cow.title }}
            {% if cow.picture %}
                <img src="{{ cow.picture.url }}" style="width: 100%;"/>
            {% endif %}
        </div>
        <div class="col-9 border" id="container" style="height: 600px;">
        </div>
    </div>
    <div class="row">
        <a href="{% url 'home:index_page' %}">صفحه اصلی</a>
    </div>

    </div> <!-- container -->
    <!-- Chartjs libraries -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>


    <script>
      _categories = {{categories|safe}};
      _values = {{values|safe}};

      Highcharts.chart('container', {
	  chart: {
              type: 'line'
	  },
	  title: {
              text: 'نمودار'
	  },
	  subtitle: {
              text: 'بر حسب تاریخ'
	  },
	  xAxis: {
              categories:_categories,
              crosshair: true
	  },
	  yAxis: {
              min: 0,
              title: {
		  text: 'امتیاز'
              }
	  },
	  tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
          '<td style="padding:5"><b>{point.y:.1f}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
	  },
	  plotOptions: {
              column: {
		  pointPadding: 0.2,
		  borderWidth: 0
        }
	  },
	  series: [{
              name: 'امتیاز',
              data: _values

	  }]
      });
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>