    <!-- header-top-start -->
    <section id="header-top">
        <div class="container">
            <div class="row">
<!--
                <div class="header-top-message">
                    <p>سلام به اپلیکیشن هوشمند ما خوش آمدید.</p>
                </div>
-->
                <div class="header-top-social">
                    <ul>
                        <li><a href=""><i class="fab fa-instagram"></i></a></li>
                        <li><a href=""><i class="fab fa-linkedin"></i></a></li>
                        <li><a href=""><i class="fab fa-twitter-square"></i></a></li>
                        <li><a href=""><i class="fab fa-facebook"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- header-top-end -->

    <!-- info -->

     <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="">خانه</a></li>
                    <li><a href="">خدمات ما</a></li>
                    <li><a href="">امکانات</a></li>
                    <li><a href="">تماس با ما</a></li>
                    <li><a href="">درباره ما</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'account:log_out' %}">خروج</a></li>
                    {% else %}
                        <li><a href="{% url 'account:login_page' %}">ورود به سیستم</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
