<footer id="footer">
        <div class="container">
            <div class="footer-about">
                <div class="footer-about-title">
                    <h3>ما کی هستیم</h3>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                </div>

                <div class="footer-about-contact">
                    <form>
                        <input type="text" placeholder="جستجو کنید">
                        <button>میگردم</button>
                    </form>

                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="footer-content">
                <div class="hot-content">

                    <h3>مطالب داغ</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="hot-content-title">
                                    <h5>مطلب اول</h5>
                                    <p>مطلب داغ اول است</p>
                                </div>
                                <img src="/static/images/a4.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="hot-content-title">
                                    <h5>مطلب اول</h5>
                                    <p>مطلب داغ اول است</p>
                                </div>
                                <img src="/static/images/a2.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="hot-content-title">
                                    <h5>مطلب اول</h5>
                                    <p>مطلب داغ اول است</p>
                                </div>
                                <img src="/static/images/a6.jpg" alt="">
                            </a>
                        </li>
                    </ul>

                </div>
                <div class="quick-access">

                    <h3>دسترسی سریع</h3>
                    <ul>
                        <li><a href="#">صفحه نخست</a></li>
                        <li><a href="#">پروژه ها</a></li>
                        <li><a href="#">درباره ما </a></li>
                        <li><a href="#">تماس با ما </a></li>
                    </ul>

                </div>
                <div class="portfolio">

                    <h3>نمونه کارها</h3>
                    <ul>
                        <li>
                            <a href="#">
                                <div class="portfolio-content-title">
                                    <h5>نمونه کار اول</h5>
                                    <p>مطلب داغ اول است</p>
                                </div>
                                <img src="/static/images/app.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="portfolio-content-title">
                                    <h5>نمونه کار دوم</h5>
                                    <p>مطلب داغ اول است</p>
                                </div>
                                <img src="/static/images/project.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="portfolio-content-title">
                                    <h5>نمونه کار سوم</h5>
                                    <p>مطلب داغ اول است</p>
                                </div>
                                <img src="/static/images/pro.jpg" alt="">
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>

        <div class="copy-right">
            <h5>طراحی شده با <i class="fas fa-code"></i> و <i class="fas fa-heartbeat"></i> توسط بچه های ویژن تک</h5>
            <p>تمامی حقوق مادی و معنوی این اثر متعلق به تیم ویژن تک است و هرگونه کپی برداری پیگرد قانونی دارد.</p>
        </div>

    </footer>